 <%-include('../header');-%>
  
  
  <div class="container">
      
            <div class="row">
                  <a href="/auth/signup" class="float-right btn btn-success">Đăng ký</a>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <form action="" method="POST" role="form">
                                <legend>đăng nhập</legend>
                            
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="" placeholder="Input field" name="email">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="" placeholder="Input field" name="password">
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </form>
                        </div>
                
                </div>
  </div>
  
  

  
  
 <%-include('../footer');-%>