<%-include('../header');-%>
  
  
<div class="container">
    
          <div class="row">
              
                      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <a href="/auth/logout" class="btn btn-primary float-right">Logout</a>
                           <a href="/<%=userId%>" class="btn btn-success">Cập nhật Sinh Viên</a>
                      </div>
              
              </div>
</div>





<%-include('../footer');-%>